.home {
  text-align: center;
  
  .hero {
    width: 100%;

    .picture {
      img {
        object-fit: cover;
        object-position: 50% 40%;
        display: block;
        width: 100%;
        height: auto;
        max-height: 300px;
      }
    }
  }

  .section {
    width: 100%;
    background-color: #F7F7F7;

    .section__container {
      padding: 70px;
      margin: 0 auto;
      max-width: 900px;

      .title {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 30px;
        color: black;
        text-align: center;

        .title__separator {
          margin: 0 auto;
          width: 200px;
          height: 1px;
          margin-top: 10px;
          background-color: gray;
        }
      }

      .subtitle {
        font-size: 20px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      .section__content {
        width: 80%;
        margin: 0 auto;
      }

      @media (max-width: 500px) {
        padding: 35px;
        .section__content { width: 100%; }
      }
    }

    &.section--partners { background-color: white; }
  }
}