@mixin pictext {
  position: absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}

.officers {
  width: 80%;
  margin: auto;
  .hero {
    width: 100%;

    .picture {
      img {
        display: block;
        width: 100%;
        height: auto;
        max-height: 300px;
      }
    }
  }

  .title {
    font-size: 2em;
    text-align: center;
    margin-top: 25px;

    .title__separator {
      margin: 0 auto;
      width: 100px;
      height: 1px;
      margin-top: 10px;
      background-color: gray;
    }
  }

  .pictureGrid {
    margin-top: 25px;
  }

  .picture {
    width: 33%;
    display: inline-block;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      vertical-align: middle;
    }
  }

  .picture__container {
    width: 100%;
    padding: 15px;
    font-family: 'Roboto';
  }

  .picture__overlay {
    position: absolute;
    bottom: 15px;
    width: calc(100% - 30px);
    height: 50px;
    margin: auto;
    background: black;
    opacity: 0.5;
  }

  .picture--hover {
    height: calc(100% - 30px);
  }

  .picture__name {
    @include pictext;
    bottom: 30px;
    font-weight: 700;
    font-size: 1.1em;
  }

  .picture__title {
    @include pictext;
    bottom: 15px;
    font-weight: 300;
    font-size: 0.9em;
  }
}

@media(max-width: 1203px) {
  .officers {
    .picture__name {
      font-size: 0.9em;
    }
    .picture__title {
      font-size: 0.7em;
      bottom: 18px;
    }
  }
}

@media(max-width:984px) {
  .officers {
    .picture {
      width: 50%;
    }
    .picture__name {
      font-size: 1.1em;
    }
    .picture__title {
      font-size: 0.9em;
      bottom: 15px;
    }
  }
}

@media(max-width:794px) {
  .officers {
    .picture__name {
      font-size: 0.9em;
    }
    .picture__title {
      font-size: 0.7em;
      bottom: 18px;
    }
  }
}

@media(max-width:649px) {
  .officers {
    width: 70%;
    .picture {
      width: 100%;
    }
  }
}

@media(max-width:346px) {
  .officers {
    .picture__name {
      font-size: 0.8em;
      bottom: 35px;
    }
    .picture__title {
      font-size: 0.65em;
      bottom: 22px;
    }
  }
}
